__pycache__/
.idea/
*.zip
*.pt
*.npz
*.txt
plot.py
plotElo.py
reversi-game/all_agents.py
reversi-game/bench_ars_agents.py
reversi-game/bench_trpo_agents.py
reversi-game/bench_ppo_agents.py
venv/
venv2/
venv310/
new_venv/

# But don't ignore the requirements.txt file
!requirements.txt